<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cantilever Wall Calculator</title>
</head>
<body>
<h1>Cantilever Calculator</h1>

<form action="{% url 'cant_output' %}">
    <h2>Input Footings and/or trains(up to 4 each)</h2>
    Footing 1
    <br>
    <input type="text" name="footing_1_type">Enter 0 if continuous, 1 if spread<br>
    <input type="text" name="footing_1_width">Footing width<br>
    <input type="text" name="footing_1_distance">Distance from center line of footing to wall<br>
    <input type="text" name="footing_1_elevation">Elevation of bottom of footing<br>
    <input type="text" name="footing_1_load">Load on footing in plf for continuous, pounds for spread<br>
    <input type="text" name="footing_1_spacing_1">Spread footing spacing to closest footing in plane (enter 0 if continuous)<br>
    <input type="text" name="footing_1_spacing_2">Spread footing spacing to next closest footing (enter 0 if continuous)<br>
    <br>
    Footing 2
    <br>
    <input type="text" name="footing_2_type">Enter 0 if continuous, 1 if spread<br>
    <input type="text" name="footing_2_width">Footing width<br>
    <input type="text" name="footing_2_distance">Distance from center line of footing to wall<br>
    <input type="text" name="footing_2_elevation">Elevation of bottom of footing<br>
    <input type="text" name="footing_2_load">Load on footing in plf for continuous, pounds for spread<br>
    <input type="text" name="footing_2_spacing_1">Spread footing spacing to closest footing in plane (enter 0 if continuous)<br>
    <input type="text" name="footing_2_spacing_2">Spread footing spacing to next closest footing (enter 0 if continuous)<br>
    <br>
    Footing 3
    <br>
    <input type="text" name="footing_3_type">Enter 0 if continuous, 1 if spread<br>
    <input type="text" name="footing_3_width">Footing width<br>
    <input type="text" name="footing_3_distance">Distance from center line of footing to wall<br>
    <input type="text" name="footing_3_elevation">Elevation of bottom of footing<br>
    <input type="text" name="footing_3_load">Load on footing in plf for continuous, pounds for spread<br>
    <input type="text" name="footing_3_spacing_1">Spread footing spacing to closest footing in plane (enter 0 if continuous)<br>
    <input type="text" name="footing_3_spacing_2">Spread footing spacing to next closest footing (enter 0 if continuous)<br>
    <br>
    Footing 4
    <br>
    <input type="text" name="footing_4_type">Enter 0 if continuous, 1 if spread<br>
    <input type="text" name="footing_4_width">Footing width<br>
    <input type="text" name="footing_4_distance">Distance from center line of footing to wall<br>
    <input type="text" name="footing_4_elevation">Elevation of bottom of footing<br>
    <input type="text" name="footing_4_load">Load on footing in plf for continuous, pounds for spread<br>
    <input type="text" name="footing_4_spacing_1">Spread footing spacing to closest footing in plane (enter 0 if continuous)<br>
    <input type="text" name="footing_4_spacing_2">Spread footing spacing to next closest footing (enter 0 if continuous)<br>
    <br>
    <br>
    Train 1
    <br>
    <input type="text" name="train_1_distance">Distance from edge of tie to sheeting<br>
    <input type="text" name="train_1_load">Q, Strip Load Surcharge<br>
    <input type="text" name="train_1_tie_size">Tie Size<br>
    <input type="text" name="train_1_elevation">Elevation of train track<br>
    <br>
    Train 2
    <br>
    <input type="text" name="train_2_distance">Distance from edge of tie to sheeting<br>
    <input type="text" name="train_2_load">Q, Strip Load Surcharge<br>
    <input type="text" name="train_2_tie_size">Tie Size<br>
    <input type="text" name="train_2_elevation">Elevation of train track<br>
    Train 3
    <br>
    <input type="text" name="train_3_distance">Distance from edge of tie to sheeting<br>
    <input type="text" name="train_3_load">Q, Strip Load Surcharge<br>
    <input type="text" name="train_3_tie_size">Tie Size<br>
    <input type="text" name="train_3_elevation">Elevation of train track<br>
    Train 4
    <br>
    <input type="text" name="train_4_distance">Distance from edge of tie to sheeting<br>
    <input type="text" name="train_4_load">Q, Strip Load Surcharge<br>
    <input type="text" name="train_4_tie_size">Tie Size<br>
    <input type="text" name="train_4_elevation">Elevation of train track<br>
    <br>
    <h2>Describe the surface of the section</h2>
    <h3>What side is the surface on?</h3>
    <input type="radio" name="surface_side" value="-1" checked>Left of ERS<br>
    <input type="radio" name="surface_side" value="1">Right of ERS<br>
    <br>
    <h3>Input surface points</h3>
    Input coordinates starting from the ERS point and going sequentially along the surface.<br>
    The final point's x-coordinate should go out to pretty far (50 units or more past the last point)<br>
    <br>
    <input type="text" name="point0x">Point(0)-x<br>
    <input type="text" name="point0y">Point(0)-y<br>
    <br>
    <input type="text" name="point1x">Point(1)-x<br>
    <input type="text" name="point1y">Point(1)-y<br>
    <br>
    <input type="text" name="point2x">Point(2)-x<br>
    <input type="text" name="point2y">Point(2)-y<br>
    <br>
    <input type="text" name="point3x">Point(3)-x<br>
    <input type="text" name="point3y">Point(3)-y<br>
    <br>
    <input type="text" name="point4x">Point(4)-x<br>
    <input type="text" name="point4y">Point(4)-y<br>
    <br>
    <input type="text" name="point5x">Point(5)-x<br>
    <input type="text" name="point5y">Point(5)-y<br>
    <br>
    <input type="text" name="point6x">Point(6)-x<br>
    <input type="text" name="point6y">Point(6)-y<br>
    <br>
    <input type="text" name="point7x">Point(7)-x<br>
    <input type="text" name="point7y">Point(7)-y<br>
    <br>
    <input type="text" name="point8x">Point(8)-x<br>
    <input type="text" name="point8y">Point(8)-y<br>
    <br>
    <input type="text" name="point9x">Point(9)-x<br>
    <input type="text" name="point9y">Point(9)-y<br>
    <br>
    <input type="text" name="point10x">Point(10)-x<br>
    <input type="text" name="point10y">Point(10)-y<br>
    <br>
    <input type="text" name="point11x">Point(11)-x<br>
    <input type="text" name="point11y">Point(11)-y<br>
    <br>
    <input type="text" name="point12x">Point(12)-x<br>
    <input type="text" name="point12y">Point(12)-y<br>
    <br>
    <input type="text" name="point13x">Point(13)-x<br>
    <input type="text" name="point13y">Point(13)-y<br>
    <h3>Surcharge Parameters</h3>
    Enter unit weight of surcharge soil to be considered in pcf.<br>
    <input type="text" name="surcharge_unit_weight"><br>
    Enter minimum surcharge height for all layers (leave blank if does not apply)<br>
    <input type="text" name="min_surcharge_height"><br>
    <h3>Failure Angle</h3>
    <input type="radio" name="angle" value="45" checked>45 deg<br>
    <input type="radio" name="angle" value="55">55 deg<br>
    <h3>At what elevation does the angle change? (leave blank if does not apply)</h3>
    <input type="text" name="angle_change_elev">
    <br>
    <h3>Which situation applies to the angle change?</h3>
    <input type="radio" name="angle_change_type" value="0" checked>Does not apply<br>
    <input type="radio" name="angle_change_type" value="1">Sand-over-clay (use 55 degree angle)<br>
    <input type="radio" name="angle_change_type" value="2">Clay-over-sand (use 45 degree angle)<br>
    <br>
    <h3>Input berm (if applicable)</h3>
    Input coordinates starting from the ERS point and going sequentially along the berm.<br>
    The final point's x-coordinate should go out to pretty far (50 units or more past the last point)<br>
    <br>
    <input type="text" name="berm0x">Point(0)-x<br>
    <input type="text" name="berm0y">Point(0)-y<br>
    <br>
    <input type="text" name="berm1x">Point(1)-x<br>
    <input type="text" name="berm1y">Point(1)-y<br>
    <br>
    <input type="text" name="berm2x">Point(2)-x<br>
    <input type="text" name="berm2y">Point(2)-y<br>
    <br>
    <input type="text" name="berm3x">Point(3)-x<br>
    <input type="text" name="berm3y">Point(3)-y<br>
    <br>
    <input type="text" name="berm4x">Point(4)-x<br>
    <input type="text" name="berm4y">Point(4)-y<br>
    <br>
    <input type="text" name="berm5x">Point(5)-x<br>
    <input type="text" name="berm5y">Point(5)-y<br>
    <br>
    <input type="text" name="berm6x">Point(6)-x<br>
    <input type="text" name="berm6y">Point(6)-y<br>
    <br>
    <input type="text" name="berm7x">Point(7)-x<br>
    <input type="text" name="berm7y">Point(7)-y<br>
    <br>
    <input type="text" name="berm8x">Point(8)-x<br>
    <input type="text" name="berm8y">Point(8)-y<br>
    <br>
    <input type="text" name="berm9x">Point(9)-x<br>
    <input type="text" name="berm9y">Point(9)-y<br>
    <br>
    <input type="text" name="berm10x">Point(10)-x<br>
    <input type="text" name="berm10y">Point(10)-y<br>
    <br>
    <input type="text" name="berm11x">Point(11)-x<br>
    <input type="text" name="berm11y">Point(11)-y<br>
    <br>
    <input type="text" name="berm12x">Point(12)-x<br>
    <input type="text" name="berm12y">Point(12)-y<br>
    <br>
    <input type="text" name="berm13x">Point(13)-x<br>
    <input type="text" name="berm13y">Point(13)-y<br>
    <br>
    <br>
    <h2>Work Points and Soil Layers</h2>
    <h3>Input Soil Layers</h3>
    Input the soil layers to be used in pressure calculations.
    <br>
    <br>
    *To use Ka(min) other than 0.25, enter a cohesive soil with a Ka not equal to one
    <br>
    <br>
    Layer 1:
    <input type="radio" name="1.type" value="0">Granular
    <input type="radio" name="1.type" value="1">Cohesive<br>
    Name <input type="text" name="1.name">
    Unit Weight (pcf) <input type="text" name="1.gamma"> <br>
    qu (tsf) <input type="text" name="1.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="1.ka">
    Kp <input type="text" name="1.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="1.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 2:
    <input type="radio" name="2.type" value="0">Granular
    <input type="radio" name="2.type" value="1">Cohesive<br>
    Name <input type="text" name="2.name">
    Unit Weight (pcf) <input type="text" name="2.gamma"> <br>
    qu (tsf) <input type="text" name="2.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="2.ka">
    Kp <input type="text" name="2.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="2.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 3:
    <input type="radio" name="3.type" value="0">Granular
    <input type="radio" name="3.type" value="1">Cohesive<br>
    Name <input type="text" name="3.name">
    Unit Weight (pcf) <input type="text" name="3.gamma"> <br>
    qu (tsf) <input type="text" name="3.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="3.ka">
    Kp <input type="text" name="3.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="3.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 4:
    <input type="radio" name="4.type" value="0">Granular
    <input type="radio" name="4.type" value="1">Cohesive<br>
    Name <input type="text" name="4.name">
    Unit Weight (pcf) <input type="text" name="4.gamma"> <br>
    qu (tsf) <input type="text" name="4.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="4.ka">
    Kp <input type="text" name="4.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="4.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 5:
    <input type="radio" name="5.type" value="0">Granular
    <input type="radio" name="5.type" value="1">Cohesive<br>
    Name <input type="text" name="5.name">
    Unit Weight (pcf) <input type="text" name="5.gamma"> <br>
    qu (tsf) <input type="text" name="5.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="5.ka">
    Kp <input type="text" name="5.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="5.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 6:
    <input type="radio" name="6.type" value="0">Granular
    <input type="radio" name="6.type" value="1">Cohesive<br>
    Name <input type="text" name="6.name">
    Unit Weight (pcf) <input type="text" name="6.gamma"> <br>
    qu (tsf) <input type="text" name="6.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="6.ka">
    Kp <input type="text" name="6.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="6.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 7:
    <input type="radio" name="7.type" value="0">Granular
    <input type="radio" name="7.type" value="1">Cohesive<br>
    Name <input type="text" name="7.name">
    Unit Weight (pcf) <input type="text" name="7.gamma"> <br>
    qu (tsf) <input type="text" name="7.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="7.ka">
    Kp <input type="text" name="7.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="7.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 8:
    <input type="radio" name="8.type" value="0">Granular
    <input type="radio" name="8.type" value="1">Cohesive<br>
    Name <input type="text" name="8.name">
    Unit Weight (pcf) <input type="text" name="8.gamma"> <br>
    qu (tsf) <input type="text" name="8.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="8.ka">
    Kp <input type="text" name="8.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="8.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 9:
    <input type="radio" name="9.type" value="0">Granular
    <input type="radio" name="9.type" value="1">Cohesive<br>
    Name <input type="text" name="9.name">
    Unit Weight (pcf) <input type="text" name="9.gamma"> <br>
    qu (tsf) <input type="text" name="9.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="9.ka">
    Kp <input type="text" name="9.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="9.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 10:
    <input type="radio" name="10.type" value="0">Granular
    <input type="radio" name="10.type" value="1">Cohesive<br>
    Name <input type="text" name="10.name">
    Unit Weight (pcf) <input type="text" name="10.gamma"> <br>
    qu (tsf) <input type="text" name="10.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="10.ka">
    Kp <input type="text" name="10.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="10.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 11:
    <input type="radio" name="11.type" value="0">Granular
    <input type="radio" name="11.type" value="1">Cohesive<br>
    Name <input type="text" name="11.name">
    Unit Weight (pcf) <input type="text" name="11.gamma"> <br>
    qu (tsf) <input type="text" name="11.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="11.ka">
    Kp <input type="text" name="11.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="11.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 12:
    <input type="radio" name="12.type" value="0">Granular
    <input type="radio" name="12.type" value="1">Cohesive<br>
    Name <input type="text" name="12.name">
    Unit Weight (pcf) <input type="text" name="12.gamma"> <br>
    qu (tsf) <input type="text" name="12.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="12.ka">
    Kp <input type="text" name="12.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="12.phi"> Enter 0 if cohesive.
    <br>
    <br>
    Layer 13:
    <input type="radio" name="13.type" value="0">Granular
    <input type="radio" name="13.type" value="1">Cohesive<br>
    Name <input type="text" name="13.name">
    Unit Weight (pcf) <input type="text" name="13.gamma"> <br>
    qu (tsf) <input type="text" name="13.qu"> Enter 0 if sand.<br>
    Ka <input type="text" name="13.ka">
    Kp <input type="text" name="13.kp"> Enter 1 for both if cohesive.<br>
    ϕ <input type="text" name="13.phi"> Enter 0 if cohesive.
    <br>
    <br>
    <h3>Input work points</h3>
    Put in work points in descending order.  First work point must be the surface.
    Changes in layer must be put in as two separate work points.<br>
    If you need to switch to total weights at any point, check the box for the work point at which to
    begin calculating by total weights.
    <br>
    <input type="hidden" name="wp1_wat" value="0">
    <input type="hidden" name="wp2_wat" value="0">
    <input type="hidden" name="wp3_wat" value="0">
    <input type="hidden" name="wp4_wat" value="0">
    <input type="hidden" name="wp5_wat" value="0">
    <input type="hidden" name="wp6_wat" value="0">
    <input type="hidden" name="wp7_wat" value="0">
    <input type="hidden" name="wp8_wat" value="0">
    <input type="hidden" name="wp9_wat" value="0">
    <input type="hidden" name="wp10_wat" value="0">
    <input type="hidden" name="wp11_wat" value="0">
    <input type="hidden" name="wp12_wat" value="0">
    <input type="hidden" name="wp13_wat" value="0">
    <input type="hidden" name="wp14_wat" value="0">
    <input type="hidden" name="wp15_wat" value="0">
    <input type="hidden" name="wp16_wat" value="0">
    <input type="hidden" name="wp17_wat" value="0">
    <input type="hidden" name="wp18_wat" value="0">
    <input type="hidden" name="wp19_wat" value="0">
    <input type="hidden" name="wp20_wat" value="0">
    <input type="hidden" name="wp21_wat" value="0">
    <input type="hidden" name="wp22_wat" value="0">
    <input type="hidden" name="wp23_wat" value="0">
    <input type="hidden" name="wp24_wat" value="0">
    <input type="hidden" name="wp25_wat" value="0">
    <input type="hidden" name="wp26_wat" value="0">
    <input type="hidden" name="wp27_wat" value="0">
    <input type="hidden" name="wp28_wat" value="0">
    <input type="hidden" name="wp29_wat" value="0">
    <input type="hidden" name="wp30_wat" value="0">

    Work Point 1: Elevation <input type="text" name="wp1"> Layer <input type='text' name="wp1_layer">
    Total Weights <input type="radio" name="total_weights" value="-1" checked><br>
    Work Point 2: Elevation <input type="text" name="wp2"> Layer <input type='text' name="wp2_layer">
    Total Weights <input type="radio" name="total_weights" value="0" checked><br>
    Work Point 3: Elevation <input type="text" name="wp3"> Layer <input type='text' name="wp3_layer">
    Total Weights <input type="radio" name="total_weights" value="1" checked><br>
    Work Point 4: Elevation <input type="text" name="wp4"> Layer <input type='text' name="wp4_layer">
    Total Weights <input type="radio" name="total_weights" value="2" checked><br>
    Work Point 5: Elevation <input type="text" name="wp5"> Layer <input type='text' name="wp5_layer">
    Total Weights <input type="radio" name="total_weights" value="3" checked><br>
    Work Point 6: Elevation <input type="text" name="wp6"> Layer <input type='text' name="wp6_layer">
    Total Weights <input type="radio" name="total_weights" value="4" checked><br>
    Work Point 7: Elevation <input type="text" name="wp7"> Layer <input type='text' name="wp7_layer">
    Total Weights <input type="radio" name="total_weights" value="5" checked><br>
    Work Point 8: Elevation <input type="text" name="wp8"> Layer <input type='text' name="wp8_layer">
    Total Weights <input type="radio" name="total_weights" value="6" checked><br>
    Work Point 9: Elevation <input type="text" name="wp9"> Layer <input type='text' name="wp9_layer">
    Total Weights <input type="radio" name="total_weights" value="7" checked><br>
    Work Point 10: Elevation <input type="text" name="wp10"> Layer <input type='text' name="wp10_layer">
    Total Weights <input type="radio" name="total_weights" value="8" checked><br>
    Work Point 11: Elevation <input type="text" name="wp11"> Layer <input type='text' name="wp11_layer">
    Total Weights <input type="radio" name="total_weights" value="9" checked><br>
    Work Point 12: Elevation <input type="text" name="wp12"> Layer <input type='text' name="wp12_layer">
    Total Weights <input type="radio" name="total_weights" value="10" checked><br>
    Work Point 13: Elevation <input type="text" name="wp13"> Layer <input type='text' name="wp13_layer">
    Total Weights <input type="radio" name="total_weights" value="11" checked><br>
    Work Point 14: Elevation <input type="text" name="wp14"> Layer <input type='text' name="wp14_layer">
    Total Weights <input type="radio" name="total_weights" value="12" checked><br>
    Work Point 15: Elevation <input type="text" name="wp15"> Layer <input type='text' name="wp15_layer">
    Total Weights <input type="radio" name="total_weights" value="13" checked><br>
    Work Point 16: Elevation <input type="text" name="wp16"> Layer <input type='text' name="wp16_layer">
    Total Weights <input type="radio" name="total_weights" value="14" checked><br>
    Work Point 17: Elevation <input type="text" name="wp17"> Layer <input type='text' name="wp17_layer">
    Total Weights <input type="radio" name="total_weights" value="15" checked><br>
    Work Point 18: Elevation <input type="text" name="wp18"> Layer <input type='text' name="wp18_layer">
    Total Weights <input type="radio" name="total_weights" value="16" checked><br>
    Work Point 19: Elevation <input type="text" name="wp19"> Layer <input type='text' name="wp19_layer">
    Total Weights <input type="radio" name="total_weights" value="17" checked><br>
    Work Point 20: Elevation <input type="text" name="wp20"> Layer <input type='text' name="wp20_layer">
    Total Weights <input type="radio" name="total_weights" value="18" checked><br>
    Work Point 21: Elevation <input type="text" name="wp21"> Layer <input type='text' name="wp21_layer">
    Total Weights <input type="radio" name="total_weights" value="19" checked><br>
    Work Point 22: Elevation <input type="text" name="wp22"> Layer <input type='text' name="wp22_layer">
    Total Weights <input type="radio" name="total_weights" value="20" checked><br>
    Work Point 23: Elevation <input type="text" name="wp23"> Layer <input type='text' name="wp23_layer">
    Total Weights <input type="radio" name="total_weights" value="21" checked><br>
    Work Point 24: Elevation <input type="text" name="wp24"> Layer <input type='text' name="wp24_layer">
    Total Weights <input type="radio" name="total_weights" value="22" checked><br>
    Work Point 25: Elevation <input type="text" name="wp25"> Layer <input type='text' name="wp25_layer">
    Total Weights <input type="radio" name="total_weights" value="23" checked><br>
    Work Point 26: Elevation <input type="text" name="wp26"> Layer <input type='text' name="wp26_layer">
    Total Weights <input type="radio" name="total_weights" value="24" checked><br>
    Work Point 27: Elevation <input type="text" name="wp27"> Layer <input type='text' name="wp27_layer">
    Total Weights <input type="radio" name="total_weights" value="25" checked><br>
    Work Point 28: Elevation <input type="text" name="wp28"> Layer <input type='text' name="wp28_layer">
    Total Weights <input type="radio" name="total_weights" value="26" checked><br>
    Work Point 29: Elevation <input type="text" name="wp29"> Layer <input type='text' name="wp29_layer">
    Total Weights <input type="radio" name="total_weights" value="27" checked><br>
    Work Point 30: Elevation <input type="text" name="wp30"> Layer <input type='text' name="wp30_layer">
    Total Weights <input type="radio" name="total_weights" value="28" checked><br>
    Do not switch to total weights at any point <input type="radio" name="total_weights" value="200" checked><br>
    <input type="hidden" name="wat_check" value="0">
    Check for water around toe? <input type="checkbox" name="wat_check" value = '1'><br>
    <br>
    <h3>Water Elevation (Leave blank if does not apply)</h3>
    <input type="text" name="water_elev"> Water elev
    <br>
    <input type="text" name="water_cut_elev"> If water elev on the passive side is not at the cut, enter it here<br>
    <br>
    <h3>Excavation Elevation</h3>
    Enter the elevation of the cut.<br>
    <br>
    <input type="text" name="cut_elev">
    <br>
    <h3>Surface Elevation</h3>
    Elevation used for calculation of backside pressures<br>
    <br>
    <input type="text" name="surface_elev">
    <br>
    <h3>Top of sheet</h3>
    Enter in the top of sheet if it does not coincide with the top of surface<br>
    <br>
    <input type="text" name="top_sheet">
    <br>
    <h2>Other Options</h2>
    <input type="text" name="supplied_length"> Supplied Length (ft) REQUIRED <br>
    <br>
    Deflected Shape Scale Factor
    <br>
    </b><input type="text" name="scale_factor"><br>
    Larger the number, more pronounced deflected shape (try ~2000)<br>
    <br>
    Type of ERS:<br>
    <input type="radio" name="ers_type" value="0" checked>Sheet Piles<br>
    <input type="radio" name="ers_type" value="1">Soldier Piles<br>
    <br>
    If sheet pile analysis:<br>
    Choose sheeting type: <select name="sheet_type">
    <option value="1">MSZ13-312</option>
    <option value="2">MSZ13-340</option>
    <option value="3">MSZ13-350</option>
    <option value="4">MSZ13-375</option>
    <option value="5">MSZ13-406</option>
    <option value="6">MSZ14-312</option>
    <option value="7">MSZ14-340</option>
    <option value="8">MSZ14-350</option>
    <option value="9">MSZ14-375</option>
    <option value="10">MSZ14-406</option>
    <option value="11">MSZ15-312</option>
    <option value="12">MSZ15-340</option>
    <option value="13">MSZ15-350</option>
    <option value="14">MSZ15-375</option>
    <option value="15">MSZ15-406</option>
    <option value="16">MSZ16-312</option>
    <option value="17">MSZ16-340</option>
    <option value="18">MSZ16-350</option>
    <option value="19">MSZ16-375</option>
    <option value="20">MSZ16-406</option>
    <option value="21">MSZ17-312</option>
    <option value="22">MSZ17-340</option>
    <option value="23">MSZ17-350</option>
    <option value="24">MSZ17-375</option>
    <option value="25">MSZ17-406</option>
    <option value="26">MSZ18-312</option>
    <option value="27">MSZ18-340</option>
    <option value="28">MSZ18-350</option>
    <option value="29">MSZ18-375</option>
    <option value="30">MSZ18-406</option>
    <option value="31">MSZ19-340</option>
    <option value="32">MSZ19-350</option>
    <option value="33">MSZ19-375</option>
    <option value="34">MSZ19-406</option>
    <option value="35">SZ-14.5</option>
    <option value="36">SZ-14.5RU</option>
    <option value="37">SZ-18</option>
    <option value="38">SZ-20</option>
    <option value="39">SZ-21</option>
    <option value="40">SZ-22</option>
    <option value="41">SZ-250</option>
    <option value="42">SZ-313</option>
    <option value="43">SZ-340</option>
    <option value="44">SZ-350</option>
    <option value="45">SZ-375</option>
    <option value="46">PZ 22</option>
    <option value="47">PZ 27</option>
    <option value="48">PZ 35</option>
    <option value="49">PZ 40</option>
    <option value="50">SCZ 14</option>
    <option value="51">SCZ 16</option>
    <option value="52">SCZ 17N</option>
    <option value="53">SCZ 18N</option>
    <option value="54">SCZ 21N</option>
    <option value="55">SKZ 20</option>
    <option value="56">SKZ 22</option>
    <option value="57">SKZ 23</option>
    <option value="58">SKZ 24</option>
    <option value="59">SKZ 25</option>
    <option value="60">SKZ 31</option>
    <option value="61">SKZ 33</option>
    <option value="62">SKZ 34</option>
    <option value="63">SKZ 36</option>
    <option value="64">SKZ 38</option>
    <option value="65">PZC 13</option>
    <option value="66">PZC 14</option>
    <option value="67">PZC 18</option>
    <option value="68">PZC 19</option>
    <option value="69">PZC 25</option>
    <option value="70">PZC 26</option>
    <option value="71">PZC 28</option>
    <option value="72">PZC 37</option>
    <option value="73">PZC 39</option>
    <option value="74">PZC 41</option>
    <option value="75">AZ 39-700</option>
    <option value="76">MSZ10-312</option>
    <option value="77">MSZ10-340</option>
    <option value="78">MSZ10-350</option>
    <option value="79">MSZ10-375</option>
    <option value="80">MSZ10-406</option>
    <option value="81">MSZ11-312</option>
    <option value="82">MSZ11-340</option>
    <option value="83">MSZ11-350</option>
    <option value="84">MSZ11-375</option>
    <option value="85">MSZ11-406</option>
    <option value="86">MSZ12-312</option>
    <option value="87">MSZ12-340</option>
    <option value="88">MSZ12-350</option>
    <option value="89">MSZ12-375</option>
    <option value="90">MSZ12-406</option>

    </select>
    <br>
    <br>
    If soldier pile analysis:
    <br>
    <br>
    Soldier Beam Analysis Method:<br>
    <input type="radio" name="soldier_beam_method" value="0" checked>Method 1: (3*width)(Pp-Pa)<br>
    <input type="radio" name="soldier_beam_method" value="1">Method 2: (3*width*Pp-1*width*Pa)<=(Pp-Pa)*spacing<br>
    <br>
    Soldier pile spacing:<br>
    <input type="text" name="beam_spacing"><br>
    Choose soldier pile:<select name="beam_type"><br>
    <option value="0">Custom</option>
    <option value="1">HP8x36</option>
    <option value="2">HP10x42</option>
    <option value="3">HP10x57</option>
    <option value="4">HP12x53</option>
    <option value="5">HP12x63</option>
    <option value="6">HP12x74</option>
    <option value="7">HP12x84</option>
    <option value="8">HP12x89</option>
    <option value="9">HP14x73</option>
    <option value="10">HP14x89</option>
    <option value="11">HP14x102</option>
    <option value="12">HP14x117</option>
    <option value="13">HP16x88</option>
    <option value="14">HP16x101</option>
    <option value="15">HP16x121</option>
    <option value="16">HP16x141</option>
    <option value="17">HP16x162</option>
    <option value="18">HP16x183</option>
    <option value="19">HP18x135</option>
    <option value="20">HP18x157</option>
    <option value="21">HP18x181</option>
    <option value="22">HP18x204</option>
    </select><br>
     <input type="text" name="beam_size_override"> (Optional) Beam/hole size (in) <br>
    <input type="text" name="beam_override"> (Optional) Beam name <br>
    <input type="text" name="beam_modulus_override"> (Optional) Beam section modulus (in^3) <br>
    <input type="text" name="beam_inertia_override"> (Optional) Beam moment of inertia (in^4)<br>
    <br>
    <br>
    <input type="submit" value="Calculate" />
    <br><br><br>

</form>
</body>
</html>
