<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thatcher Wall Calculators</title>
</head>
<body>
<h1>Thatcher Wall Calculators</h1>
<br>
<form action="{% url 'cantilever' %}">
    <input type="submit" value="Cantilever Wall Calculator" />
</form>
<br>
<form action="{% url 'braced' %}">
    <input type="submit" value="Braced Wall Calculator" />
</form>
<br>
<form action="{% url 'multilayer' %}">
    <input type="submit" value="Multi-layer Braced Wall Calculator" />
</form>
<br>
<form action="{% url 'three_layer' %}">
    <input type="submit" value="Three-layer Braced Wall Calculator" />
</form>
<br>
<form action="{% url 'micropile_joint_bending_capacity' %}">
    <input type="submit" value="Micropile Joint Bending Capacity" />
</form>
<br>
<form action="{% url 'one_layer_optimizer' %}">
    <input type="submit" value="One Layer Optimizer" />
</form>
<br>
</body>
</html>